.page-footer {
    margin: 0 auto;
    padding-top: 70px;
    width: 318px;

    border: 1px solid #3e3e3e;
    border-top: none;
}

.page-footer__contacts {
    padding: 20px;
    padding-top: 30px;
}

.contacts__phone {
    margin-top: 20px;

    color: #ffffff;
    border-color: #3e3e3e;

}

.contacts__phone-mobile {
    display: none;
}

.social__title {
    display: none;
}

.social__list {
    list-style: none;
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    border-top: 1px solid #3e3e3e;
    border-bottom: 1px solid #3e3e3e;

}

.social__item {
    flex-grow: 1;
    &:last-child .social__link {
        border-right: none;
    }
}

.social__link {
    display: block;
    height: 98px;
    //width: 105px;
    border-right: 1px solid #3e3e3e;

    &--vkontakte {
        background: url(../../img/vk.svg) no-repeat 50% 50%;
    }
    &--facebook {
        background: url(../../img/facebook.svg) no-repeat 50% 50%;
    }
    &--instagram {
        background: url(../../img/instagram.svg) no-repeat 50% 50%;
    }

}

.page-footer__copyright {
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 25px;
}

.copyright__text {
    display: block;

    margin-bottom: 15px;

    text-align: center;
    font-weight: 400;
}

.copyright__link {

    border-color: #3e3e3e;
    color: #ffffff;
}

@media (min-width: $tablet-width) {
    .page-footer {
        width: 768px - 65px - 65px;
        margin-top: 0;
        padding: 55px 65px;
        position: relative;
    }

    .page-footer__contacts {
        padding: 0;
        margin-bottom: 50px;
        text-align: left;
    }

    .contacts__title {
        text-transform: uppercase;
    }

    .contacts__phone {
        border: none;
        text-align: left;
        margin-top: 0;
        padding: 0;
        font-weight: 400;
    }

    .contacts__phone-mobile {
        display: inline;
        text-transform: none;
    }

    .contacts__text {
        margin-bottom: 0;
    }

    
    .social__item {
        width: auto;
        flex-grow: 1;

        &:first-child {
            border-left: 1px solid #3e3e3e;
        }

        &:last-child {
            border-right: 1px solid #3e3e3e;
        }
    
    }

    .social__link {
        width: 100%;

    }

    .page-footer__copyright {
        position: absolute;
        top: 25px;
        right: 45px;
    }
}

@media (min-width: $desktop-width) {
    .page-footer {
        width: $desktop-width - 120px - 120px;
        padding-left: 120px;
        padding-right: 120px;
    }

    .page-footer__wrapper {
        display: flex;
    }

    .page-footer__contacts {
        margin-bottom: 0;
        margin-right: 80px;
    }

    .page-footer__copyright {
        position: static;
    }

    .social__title {
        display: block;
        margin-bottom: 15px;

        font-weight: 400;
        text-align: center;
    }

    .social__list {
        border: none;
    }

    .social__item {
        margin-right: 5px;

        &:last-child {
            margin: 0;
        }
    }

    .social__link {
        width: 48px;
        height: 48px;
        border: 1px solid #3e3e3e;

        &--vkontakte {
            background: url(../../img/vk-small.svg) no-repeat 50% 50%;
        }
        &--facebook {
            background: url(../../img/facebook-small.svg) no-repeat 50% 50%;
        }
        &--instagram {
            background: url(../../img/instagram-small.svg) no-repeat 50% 50%;
        }
    
    }

    .page-footer__copyright {
        padding: 0;
        margin-left: auto;
    }

    .copyright__link {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}